In [14]:
import yfinance as yf
import pandas as pd

df = yf.download("aapl", start="2023-05-7", end="2023-06-5", interval='15m')
df

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Datetime,,,,,,
2023-05-08 09:30:00,172.479996,173.199997,172.110001,172.559906,172.559906,7945326
2023-05-08 09:45:00,172.550003,173.570007,172.539993,172.783997,172.783997,3477188
2023-05-08 10:00:00,172.794998,173.639999,172.740005,173.190002,173.190002,3176358
2023-05-08 10:15:00,173.195007,173.820007,173.139999,173.360001,173.360001,2934898
2023-05-08 10:30:00,173.369995,173.589996,172.720093,172.997604,172.997604,2590163
...,...,...,...,...,...,...
2023-06-02 14:45:00,180.740005,180.830002,180.509995,180.630005,180.630005,1272053
2023-06-02 15:00:00,180.625000,180.850006,180.589996,180.830002,180.830002,1483378
2023-06-02 15:15:00,180.839996,181.039993,180.711700,180.755005,180.755005,1824141
2023-06-02 15:30:00,180.750000,181.000000,180.610001,180.869995,180.869995,1993488
2023-06-02 15:45:00,180.869995,181.100006,180.759995,180.960007,180.960007,4895535

In [22]:
def signal_generator(frame):
    open = frame.Open.iloc[-1]
    close = frame.Close.iloc[-1]
    previous_open = frame.Open.iloc[-2]
    previous_close = frame.Close.iloc[-2]
    
    # Bearish Pattern
    if (open>close and 
    previous_open<previous_close and 
    close<previous_open and
    open>=previous_close):
        return 1

    # Bullish Pattern
    elif (open<close and 
        previous_open>previous_close and 
        close>previous_open and
        open<=previous_close):
        return 2
    
    # No clear pattern
    else:
        return 0

In [23]:
signal = []
signal.append(0)
for i in range(1,len(df)):
    singleFrame = dataF[i-1:i+1]
    signal.append(signal_generator(singleFrame))
#signal_generator(data)
df["signal"] = signal
df.signal.value_counts()

signal
0    424
1     37
2     33
Name: count, dtype: int64

In [25]:
df

,Open,High,Low,Close,Adj Close,Volume,signal
Datetime,,,,,,,
2023-05-08 09:30:00,172.479996,173.199997,172.110001,172.559906,172.559906,7945326,0
2023-05-08 09:45:00,172.550003,173.570007,172.539993,172.783997,172.783997,3477188,0
2023-05-08 10:00:00,172.794998,173.639999,172.740005,173.190002,173.190002,3176358,0
2023-05-08 10:15:00,173.195007,173.820007,173.139999,173.360001,173.360001,2934898,0
2023-05-08 10:30:00,173.369995,173.589996,172.720093,172.997604,172.997604,2590163,1
...,...,...,...,...,...,...,...
2023-06-02 14:45:00,180.740005,180.830002,180.509995,180.630005,180.630005,1272053,0
2023-06-02 15:00:00,180.625000,180.850006,180.589996,180.830002,180.830002,1483378,2
2023-06-02 15:15:00,180.839996,181.039993,180.711700,180.755005,180.755005,1824141,0
2023-06-02 15:30:00,180.750000,181.000000,180.610001,180.869995,180.869995,1993488,2
2023-06-02 15:45:00,180.869995,181.100006,180.759995,180.960007,180.960007,4895535,0